@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carlito';
}

html,
body {
    height: 100%;
    background-color: var(--main-bg-color);
}

body{
    --main-header-bg-color:#6C837B;
    --main-bg-color:#FBF8F1;
    --main-button-color: #6C837B;
    --main-ui-color: #C2C9C6;
    --main-footer-color: #eaeaea;
}

header {
    background-color: var(--main-header-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.icons {
    display: flex;
    gap: 15px;
    filter: brightness(0) invert(1);
}

.icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.logo img {
    border-radius: 10px;
}

main {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.orts {
    width: 25%;
    background-color: #C2C9C6; 
    padding: 20px;
    border-radius: 10px;
}

#orts-search {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 20px;
}

.orts-list {
    list-style-type: none;
}

.orts-list li {
    padding: 10px 0;
    border-bottom: 1px solid #6C837B;
}

.categories {
    width: 70%;
    background-color: #C2C9C6; 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.column {
    width: 23%;
    text-align: center;
    border-left: 1px solid black;
    padding: 10px 0;
}

.container li:first-child {
    border-left: none;
}
footer {
    background-color: var(--main-footer-color);
    background-image: linear-gradient(#ccc, var(--main-footer-color));
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

footer section {
    flex: 1;
    margin: 0 10px;
}

footer h3 {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}