html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #6C837B;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

.logo {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#search-bar {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.image {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.image img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1); 
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    background-image: url("/foodpic/519.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-content {
    text-align: center;
}

.hero-content h1, .hero-content h2 {
    color: white;
    font-size: 48px;
    margin: 10px 0;
    font-family: 'Comforter Brush', cursive;
    font-weight: normal;
}

.hero-content button {
    background-color: #6C837B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: Istok Web;
    font-style: italic;
}

.hero-content button:hover {
    background-color: #5c724e;
}

footer {
    background-color: #e0e0e0;
    padding: 20px;
    width: 100%;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
